@font-face {
	font-family: 'Quicksand';
	src: url("Fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
	font-family: 'Code';
	src: url("Fonts/Code/Code-Regular.otf");
}


html {
}

body {
  margin: 0;
}
/* NAVIGATION BAR */
.navbar {

	background-color: #333029;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100px;
	letter-spacing: 5px;

}

.menu-options {
	list-style-type: none;
	text-align: right;
	margin-right: 5%;
	margin-top: 1%;
}

.menu-options li {
	font-size: 30px;
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
	border-right: solid;
	border-color: white;
}

.logo {
	align-items :left;
	float: left;
	font-size: 40px;
}

.current {
	opacity: 0.4;
}

.navbar a {
	font-family: "Quicksand";
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	opacity: 0.2;
}


/* LEVEL 1 */

.level1 {
	position: relative;
	font-family: "Quicksand";
	text-transform: uppercase;
	color: white;
	letter-spacing: 8px;
	height: 600px;
	background-color: #7A339D;
}

.level1 h1  {
	font-family: "Code";
	position: relative;
	margin: 0%;
	left: 10%;
	padding-top: 10%
}
.level1 p  {
	position: relative;
	margin: 0%;
	left: 10%;
	padding-top: 1%
}

.vl {
	position: relative;
	border-left: thick solid white;
}
/*
.level1 hr {
	width: 1;
	size: 50px;
}*/
/*
.left1 {
	position: relative;
	height: 100%;
	margin: 0;
	width: 30%;
	background-color: #D0A858;
}*/

.level2 {
	position: relative;
	height: 400px;
	background-color: #333029;
}

.left2 {
	position: relative;
	height: 100%;
	margin: 0;
	width: 50%;
	background-color: #D0A858;
}
