@font-face {
	font-family: "Russo";
	src: url("Fonts/Russo_One/RussoOne-Regular.ttf");
}

@font-face {
	font-family: "Shrikhand";
	src: url("Fonts/Shrikhand/Shrikhand-Regular.ttf");
}


body {
  	margin: 0;
}
/* NAVIGATION BAR */
.navbar {

	background-color: black;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100px;
	letter-spacing: 5px;

}

.menu-options {
	list-style-type: none;
	text-align: right;
	margin-right: 5%;
	margin-top: 1%;
}

.menu-options li {
	font-size: 30px;
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
}

.navbar a {
	font-family: "Russo";
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	opacity: 0.2;
}


.logo {
	position: relative;
	font-size: 30px;
	display: inline;
	font-family: "Russo";
	float: left;
	font-size: 40px;
	text-decoration: none;
	top: 20%;
	padding-left: 1%;
	color: white;
}

.current {
	opacity: 0.2;
}

.top {
	position: relative;
	height: 1200px;
	width: 100%;
}

.topImg {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url("energy.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(3px);
	z-index: -1;

}


.top h1 {
	position: absolute;
	left: 20%;
	top: 45%;
	font-family: "Shrikhand";
	font-size: 70px;
}

.middle {
	background-color: black;
	position: relative;
	height: 1000px;
	width: 100%;
}


.middle div {
	position: absolute;
	width: calc(100% /3);
	height: 100%;

}

.middle div * {
	color: white;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 1.6;
	font-family: "Russo";
	font-size: 30px;
} 

.middleCenter {
	left: calc(100%  /3);

}

.middleRight {
	left: calc(200%  /3);
}

.lower {
	height: 500px;
	background-color: #0136CA;
}
