@font-face {
	font-family: 'Montserrat';
	src: url("Fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
	font-family: 'Pacifico';
	src: url("Fonts/Pacifico/Pacifico-Regular.ttf");
}

html {
  background-color: #1500FF;
}
body {
  margin: 0;
}
/* NAVIGATION BAR */
.navbar {

	background-color: #FFD900;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 150px;
}

.menu-options {
	list-style-type: none;
	text-align: right;
}

.menu-options li {
	font-size: 30px;
	display: inline;
	padding-right: 30px;
}

.logo {
	align-items :left;
	float: left;
	font-size: 50px;
}

.current {
	border-radius: 25px;
	    border: 2px solid #1500FF;
	    padding: 10px; 
	    width: 200px;
	    height: 150px; 
}

.navbar a {
	text-decoration: none;
	font-family: "Pacifico";
	color: #1500FF;
}

.navbar a:hover {
	opacity: 0.2;
}


/* MAIN CONTENT */
.top {
	position: relative;
	background-color: #1500FF;
	width: 100%;
	height: 600px;
	font-family: "Pacifico";
	text-align: center;
	color: #FFD900;
}

.top h1 {
	position: relative;
	top: 10%;
	font-size: 50px;
	padding-bottom: 5%;
}

.top img {
	position: relative;
	top: 40%;
}

.top2 {
	position: relative;
	background-color: #FFD900;
	/*top:40%;*/
	width: 100%;
	height: 600px;
}

.top2 div {
	display: inline;
}

.top2 p {
	font-weight: bold;
}

.left {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 25%;
	font-family: 'Montserrat';
	color: #1500FF;
	font-size: 18px;
	line-height: 1.6;
}

.center {
	position: absolute;
	top: 5%;
	left:  37.5%;
	width: 25%;
	font-family: 'Montserrat';
	color: #1500FF;
	font-size: 18px;
	line-height: 1.6;
}

.right {
	position: absolute;
	top: 5%;
	left: 70%;
	width: 25%;
	font-family: 'Montserrat';
	color: #1500FF;
	font-size: 18px;
	line-height: 1.6;
}


.bottom {
	position: relative;
	background-color: #1500FF;
	height: 300px;

}


