

/*@import "compass/css3";*/

html, body{
  margin:0px; padding:0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.navbar-under-tablet {
	display: none;
}

.navbar-under-HD {
	display: none;
}


.navbar {
	display: block;
}

.navbar, .navbar-under-HD, .navbar-under-tablet {
  z-index: 1;
  position:fixed; 
  width:100%; 
  height:60px; 
  background:rgba(0,0,0,0.8);
}


/* MENU + HERO LINKS STYLING */

.menu-options, .hero-options {
	list-style-type: none;
  	font-family: 'Roboto Slab', serif; 
	text-transform:uppercase; 
}


.menu-options {
	width: 100%;
	text-align: right;
	height: 100%;
	padding-right: 15px;
	padding-top: 15px;
}

.hero-options ul {
	margin-top: 20px;
	padding: 5%;
	text-align: center;
}

.menu-options li, .hero-options li {
	font-size: 14px;
	display: inline;
	align-items: center;
  	padding:0px 15px; 
}

.mobile-options li {
	display: block;
  	padding-top:10px; 
}

.menu-options a, .hero-options a {
	text-decoration: none;
	color: white;
}

.menu-options a:hover, .hero-options a:hover {
	opacity: 0.6;
}

.hero-options li {
	font-size: 20px;
  	padding:0px 45px 0 45px; 
}

.hero-options a {
	border-radius: 5px;
	padding:8px;
    border: 1px solid white;
}


.signIn{
	border-radius: 5px;
	padding:4px;
    border: 2px solid white;
}


.logo {
  color:white;
  background:black; 
  display:inline-block; 
  padding:0px 30px; 
  line-height:60px; 
  text-align:center;
  font-family: 'Roboto Slab', serif; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:5px; 
  font-weight:700;
  float: left;
}





/* MAIN CONTENT*/

#hero1 {
 background:url("https://images.unsplash.com/photo-1502763413034-38ff5c7578b1?auto=format&fit=crop&w=634&q=80");
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

#hero2{background: url("https://images.unsplash.com/photo-1462899006636-339e08d1844e?auto=format&fit=crop&w=1050&q=80");
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

.hero .inner {
  background: rgba(0,0,0,0.7);
}

.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:800px;
  position: relative;
}


.text {
  position:absolute; 
  width:100%;
}

.text {
  top:30%; 
}

#hero1 .text {
  top: 40%; 
}

#hero1 .text h1 {
	font-size: 40px;
}



.hero h1, .hero p{ 
  color:#fff;
}

.content h1, .content p{
  color:#333;
}

h1{
  margin:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:400;
  font-size:32px;
  padding:0px 20px;
}

p{
  font-family: 'Noto Sans', sans-serif; 
  font-size:14px;
  padding:0px 20px;
}




@media (max-width: 1300px) {
	.navbar {
		display: none;
	}
	.navbar-under-HD {
		display: block;
	}

}


@media (max-width: 950px) {
	.navbar {
		display: none;
	}
	.navbar-under-HD {
		display: none;
	}
	.navbar-under-tablet {
		display: block;
	}
}
